<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon class="material-icons">menu</mat-icon>
    </button>
    <span>Back Office</span>
  </mat-toolbar-row>

</mat-toolbar>



<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-menu></app-menu>
  </mat-drawer>

  <div class="sidenav-content">
    

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>


