/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import '@angular/material/prebuilt-themes/purple-green.css';


.sidenav-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.w-100{
    width: 100%;
}

.none{
    display: none;
}

.sidenav-content {
    height: 100%;
    margin: 0 5% 0 5%;
}

.sidenav {
    padding: 0px;
    width: 20%;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-end{
    justify-content: end;
}